body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5{
  font-weight:300;
  margin:5px 0 5px 0;
}
h1 {
  font-size:4.9em;
}
h2{
  font-size:2.8em;
}
h3{
  font-size:1.8em;
}
h4{
  font-size: 1.3em;
}
h5{
  font-size:1.15em;
}
p{
  font-size: 1em;
}
@media (max-width: 750px){
  h1 {
    font-size:2.7em;
  }
  h2{
    font-size:1.8em;
  }
  h3{
    font-size:1.3em;
  }
  h4{
    font-size: 1.1em;
  }
  h5{
    font-size:1em;
  }
  p{
    font-size: 1em;
  }
  .rbc-toolbar {
    flex-direction:column;
  }
  .rbc-toolbar-label{
    margin:5px 0px;
  }
}


.rbc-events-container{
  cursor:pointer;
}

.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
}

.App-header {
  background-color: #ddd;
  height: 170px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
